<ion-view view-title="首页">
  <ion-content>
<img class="full-image"  src="/views/Home/image/androidbanner.png" alt="">
    <div class="row padding-left stable-bg">
      <div class="col stable-bg">
        <h6>今天</h6>
        <p class="income">50.00<span class="yuan">元</span></p>
          <p>比昨天：<s0an class="balanced">-2.00</s0an><i class="icon ion-arrow-right-a balanced"></i></p>
      </div>
      <div class="col stable-bg">
        <h6>本周周报表</h6>
        <p class="income">600.00<span class="yuan">元</span></p>
        <p>周期：523.00<i class="icon ion-arrow-down-a dark"></i></p>
      </div>
      <div class="col stable-bg">
        <h6>本月报表</h6>
        <p class="income">300.00<span class="yuan">元</span></p>
        <p>同期：420.00<i class="icon ion-arrow-up-a assertive"></i></p>
      </div>
      </div>
      <div class="row row-no-padding quick-actions">
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ios-briefcase-outline energized">
          </i>
          <h5>新增商品</h5>
        </a>
      </div>
        <div class="col col-25 col-border quick-action-item">
          <a class="tab-item shortcut" href="">
            <i class="icon ion-filing royal">
            </i>
            <h5>新增会员</h5>
          </a>
        </div>
        <div class="col col-25 col-border quick-action-item">
          <a class="tab-item shortcut" href="">
            <i class="icon ion-calculator assertive">
            </i>
            <h5>收银记账</h5>
          </a>
        </div>
        <div class="col col-25 col-border quick-action-item">
          <a class="tab-item shortcut" href="">
            <i class="icon ion-xbox balanced">
            </i>
            <h5>支出管理</h5>
          </a>
        </div>
    </div>
    <div class="row row-no-padding quick-actions">
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-grid energized">
          </i>
          <h5>商品管理</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-contact energized">
          </i>
          <h5>会员管理</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-ribbon-b energized">
          </i>
          <h5>表单</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-search energized">
          </i>
          <h5>查询销售</h5>
        </a>
      </div>
    </div>
    <div class="row row-no-padding quick-actions">
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-pricetags energized">
          </i>
          <h5>智能分析</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-happy energized">
          </i>
          <h5>供应商管理</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-social-snapchat energized">
          </i>
          <h5>挂单</h5>
        </a>
      </div>
      <div class="col col-25 col-border quick-action-item">
        <a class="tab-item shortcut" href="">
          <i class="icon ion-android-options energized">
          </i>
          <h5>高级功能</h5>
        </a>
      </div>
    </div>
    </div>
  </ion-content>
  <div class="row text-center" style="position:fixed;bottom: 6px;">
    <h4 style="width: 100%"><span>2010-2017 生意专家</span></h4>
  </div>
</ion-view>
